@page "/meals"
@implements IDisposable
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>List of foods</PageTitle>
<h3>Mealzs</h3>

@if (foods is null)
{
    <p><em>Loading</em></p>
}
else
{
    <div style="margin:20px 0 20px 0 "class="col-6 col-sm-4 col-md-3 col-lg-auto">
        <Button OnClick="GoToCreateNewMeal" IsOutline="true" Icon="fas fa-bowl-rice" Color="Color.Success">
        Register new meal
        </Button>
    </div>
    <div class="row g-3">

        @foreach (var food in foods)
        {
            <div class="col-12 col-sm-6 col-lg-4 col-xl-2">
                <Card @onclick="@(e => OnClicked(@food.Id, food.Name))" IsShadow="true" IsCenter="true">
                    <BodyTemplate>
                        <h5>@food.Name</h5>
                        <ImageViewer Url="@food.Image"
                                     FitMode="ObjectFitMode.Cover"/>
                        <p class="card-text">@food.Description</p>
                        @for (int i = 0; i <= @food.AverageStars; i++)
                        {
                            <i class="fa-solid fa-star" style="font-size: 1em; margin: .3em; color: orange" aria-hidden="true"></i>
                        }
                    </BodyTemplate>
                </Card>
            </div>
        }
    </div>

}

@code {
    [Inject]
    [NotNull]
    private DialogService? DialogService { get; set; }

    private MealViewModel[]? foods;

    private bool IsKeyboard { get; set; }

    private async Task OnClicked(int foodId, string foodName)
    {
        var options = new DialogOption
        {
            Title = foodName,
            BodyContext = foodId,
        };

        options.Component = BootstrapDynamicComponent.CreateComponent<DetailsDialogMeals>(new Dictionary<string, object?>()
        {
            [nameof(DetailsDialogMeals.FoodId)] = foodId
        });
        options.IsScrolling = true;

        await DialogService.Show(options);
    }

    private void GoToCreateNewMeal()
    {
        NavManager.NavigateTo("/meals/registernew");
    }

    private void OnClickKeyboard()
    {
        IsKeyboard = !IsKeyboard;
    }

    protected override async Task OnInitializedAsync()
    {
        foods = await Http.GetFromJsonAsync<MealViewModel[]>("meals/async");
    }

    public void Dispose()
    {
    }
}
